In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv ('./Data/housing.csv')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [5]:
mask = df['total_rooms'] < 3

mask2 = df['total_rooms'][mask]
mask2.count()

1

In [6]:
## Remove unseen samples

data = df.sample(frac=0.95,random_state=28)
data_unseen = df.drop(data.index)

print(f'Data for model: {data.shape},\nData for unseen predictions: { data_unseen.shape}')

Data for model: (19608, 10),
Data for unseen predictions: (1032, 10)

In [7]:
##from pycaret.regression import *
## reg = setup(data = data, target='median_house_value', normalize=True, session_id=42)

In [8]:
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        201
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [9]:
data['total_bedrooms'].count()

19407

In [8]:
data.shape

(19608, 10)

In [10]:
from pycaret.regression import *
reg = setup(data = data, target='median_house_value', normalize=True)
reg

In [10]:
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        201
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [ ]:
## checking for nulls

In [11]:
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        201
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [12]:
data['total_bedrooms'].describe()

count    19407.000000
mean       538.259597
std        419.823427
min          1.000000
25%        297.000000
50%        436.000000
75%        648.000000
max       6445.000000
Name: total_bedrooms, dtype: float64

In [13]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
5179,-118.26,33.95,44.0,1771.0,378.0,1296.0,399.0,1.6389,96700.0,<1H OCEAN
11988,-117.51,34.00,36.0,3791.0,746.0,2258.0,672.0,3.2067,124700.0,INLAND
9522,-123.21,39.14,15.0,2235.0,545.0,1376.0,516.0,1.9032,100000.0,<1H OCEAN
18792,-122.57,40.61,27.0,1540.0,315.0,883.0,321.0,2.8036,93400.0,INLAND
17209,-119.72,34.43,33.0,1028.0,377.0,753.0,356.0,2.3454,243800.0,<1H OCEAN

In [14]:
data['total_bedrooms']

5179     378.0
11988    746.0
9522     545.0
18792    315.0
17209    377.0
         ...
19888    414.0
15727    194.0
2270     456.0
6826     525.0
14317    180.0
Name: total_bedrooms, Length: 19608, dtype: float64

In [15]:
data['total_bedrooms'].describe()

count    19407.000000
mean       538.259597
std        419.823427
min          1.000000
25%        297.000000
50%        436.000000
75%        648.000000
max       6445.000000
Name: total_bedrooms, dtype: float64

In [16]:
data['total_bedrooms'] = data['total_bedrooms'].fillna(538)

In [17]:
data.isnull().sum()   ## No Nulls

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [18]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
5179,-118.26,33.95,44.0,1771.0,378.0,1296.0,399.0,1.6389,96700.0,<1H OCEAN
11988,-117.51,34.00,36.0,3791.0,746.0,2258.0,672.0,3.2067,124700.0,INLAND
9522,-123.21,39.14,15.0,2235.0,545.0,1376.0,516.0,1.9032,100000.0,<1H OCEAN
18792,-122.57,40.61,27.0,1540.0,315.0,883.0,321.0,2.8036,93400.0,INLAND
17209,-119.72,34.43,33.0,1028.0,377.0,753.0,356.0,2.3454,243800.0,<1H OCEAN

In [19]:
data.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [ ]:
## data.to_csv('./Data/cl_data.csv', index=False)

In [20]:
data['total_rooms'] < data ['total_bedrooms']

5179     False
11988    False
9522     False
18792    False
17209    False
         ...
19888    False
15727    False
2270     False
6826     False
14317    False
Length: 19608, dtype: bool

In [ ]:
## Comparing Models

In [21]:
compare_models(include = ['catboost','rf','lightgbm'])

Initiated  . . . . . . . . . . . . . . . . . .            11:28:47
Status     . . . . . . . . . . . . . . . . . .   Loading Estimator
Estimator  . . . . . . . . . . . . . . . . . .  CatBoost Regressor

In [22]:
pull()

,Model,MAE,MSE,RMSE,R2,RMSLE,MAPE,TT (Sec)
catboost,CatBoost Regressor,30515.2589,2.100042e+09,45792.3116,0.8415,0.2282,0.1711,6.398
lightgbm,Light Gradient Boosting Machine,32171.7782,2.288374e+09,47797.9077,0.8273,0.2362,0.1802,2.230
rf,Random Forest Regressor,32277.6946,2.426279e+09,49210.6668,0.8169,0.2377,0.1797,6.036

In [2]:
##compare_models()

NameError: name 'compare_models' is not defined

In [ ]:
## working with two of the top models

In [23]:
catboost = create_model('catboost')

Initiated  . . . . . . . . . . . . . . . . . .            11:33:10
Status     . . . . . . . . . . . . . . . . . .    Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  CatBoost Regressor

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [24]:
lightgbm = create_model('lightgbm')

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,11:33:37
Status,. . . . . . . . . . . . . . . . . .,Fitting 10 Folds
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

In [ ]:
## default is 10 folds but we can make it 15 folds... for improved fitting

In [ ]:
## Tunning with 10 folds

In [25]:
lightgbm_tuned_model = tune_model(lightgbm)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [26]:
pull()

             MAE           MSE        RMSE      R2   RMSLE    MAPE
Fold
0     33302.4939  2.341166e+09  48385.6005  0.8306  0.2468  0.1881
1     33180.5576  2.483326e+09  49832.9819  0.8093  0.2434  0.1839
2     32673.7376  2.223647e+09  47155.5648  0.8299  0.2366  0.1725
3     33457.3855  2.564421e+09  50640.1141  0.8090  0.2696  0.2046
4     32899.8756  2.254766e+09  47484.3724  0.8224  0.2360  0.1783
5     33072.2063  2.243605e+09  47366.7095  0.8286  0.2454  0.1842
6     31025.5489  1.990021e+09  44609.6464  0.8439  0.2358  0.1811
7     34153.6745  2.302515e+09  47984.5329  0.8315  0.2570  0.1960
8     32653.6088  2.295460e+09  47910.9642  0.8221  0.2558  0.1859
9     34258.8386  2.595687e+09  50947.8855  0.8151  0.2570  0.1904
Mean  33067.7927  2.329462e+09  48231.8372  0.8242  0.2483  0.1865
Std     856.9198  1.706292e+08   1775.2160  0.0104  0.0107  0.0086

In [ ]:
## Tunning with 15 folds

In [27]:
lightgbm_tuned_model2 = tune_model(lightgbm ,  fold = 15)

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,11:39:52
Status,. . . . . . . . . . . . . . . . . .,Loading Dependencies
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

Fitting 15 folds for each of 10 candidates, totalling 150 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [64]:
tune_model(lightgbm ,  fold = 15)

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,18:11:44
Status,. . . . . . . . . . . . . . . . . .,Searching Hyperparameters
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

Fitting 15 folds for each of 10 candidates, totalling 150 fits

LGBMRegressor(random_state=1807)

In [ ]:
## FINALIZING AND SAVING MODEL

In [30]:
print(lightgbm)

LGBMRegressor(random_state=4898)

In [68]:
##print(lightgbm_tuned_model)

LGBMRegressor(random_state=1807)

In [31]:
final_model = finalize_model(lightgbm)
final_model

Pipeline(memory=FastMemory(location=C:\Users\juud0\AppData\Local\Temp\joblib),
         steps=[('numerical_imputer',
                 TransformerWrapper(include=['longitude', 'latitude',
                                             'housing_median_age',
                                             'total_rooms', 'total_bedrooms',
                                             'population', 'households',
                                             'median_income'],
                                    transformer=SimpleImputer())),
                ('categorical_imputer',
                 TransformerWrapper(include=['ocean_proximity'],
                                    transformer=SimpleImputer(strategy='most_frequent'))),
                ('onehot_encoding',
                 TransformerWrapper(include=['ocean_proximity'],
                                    transformer=OneHotEncoder(cols=['ocean_proximity'],
                                                              handle_missing='return_nan',
                                                              use_cat_names=True))),
                ('normalize', TransformerWrapper(transformer=StandardScaler())),
                ('actual_estimator', LGBMRegressor(random_state=4898))])

In [32]:
save_model(final_model, './models/housing_lightgbm')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=C:\Users\juud0\AppData\Local\Temp\joblib),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['longitude', 'latitude',
                                              'housing_median_age',
                                              'total_rooms', 'total_bedrooms',
                                              'population', 'households',
                                              'median_income'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['ocean_proximity'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('onehot_encoding',
                  TransformerWrapper(include=['ocean_proximity'],
                                     transformer=OneHotEncoder(cols=['ocean_proximity'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('normalize', TransformerWrapper(transformer=StandardScaler())),
                 ('actual_estimator', LGBMRegressor(random_state=4898))]),
 './models/housing_lightgbm.pkl')

In [ ]:
## Load model and test on unseen data.

In [33]:
model_test = load_model('./models/housing_lightgbm')

Transformation Pipeline and Model Successfully Loaded

In [ ]:
## Try change the titles and state if its in sqft or measurements

In [34]:
data_test = [[ -117.51,	34.00,	36.0,	3791.0,	746.0,	2258.0,	672.0,	3.2067,'INLAND']]

In [35]:
data_test

[[-117.51, 34.0, 36.0, 3791.0, 746.0, 2258.0, 672.0, 3.2067, 'INLAND']]

In [36]:
data_test
pd.DataFrame(data_test)

        0     1     2       3      4       5      6       7       8
0 -117.51  34.0  36.0  3791.0  746.0  2258.0  672.0  3.2067  INLAND

In [81]:
#or  ##df[:1:]

In [37]:
cols = model_test.feature_names_in_[:-1]
cols

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'ocean_proximity']

In [38]:
pd.DataFrame(cols)

                    0
0           longitude
1            latitude
2  housing_median_age
3         total_rooms
4      total_bedrooms
5          population
6          households
7       median_income
8     ocean_proximity

In [39]:
pd.DataFrame(cols)

                    0
0           longitude
1            latitude
2  housing_median_age
3         total_rooms
4      total_bedrooms
5          population
6          households
7       median_income
8     ocean_proximity

In [40]:
cols = model_test.feature_names_in_[:-1]
test_data = pd.DataFrame(data_test, columns=cols)
prediction = model_test.predict(test_data)[0]
prediction

123314.5654849839

In [41]:
act_pred = 124700.0
act_pred

124700.0

In [42]:
cols = model_test.feature_names_in_[:-1]
test_data = pd.DataFrame(data_test, columns=cols)
prediction = model_test.predict(test_data)[0]
prediction

123314.5654849839

In [43]:
new_pred = prediction.round(2)
new_pred

123314.57

In [44]:
MAE = act_pred - new_pred
MAE

1385.429999999993

In [45]:
MPAE = MAE/act_pred
MPAE

0.011110104250200425

In [ ]:
### EDA starts on unseend data

In [46]:
data_unseen

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
57,-122.28,37.82,52.0,1489.0,335.0,728.0,244.0,0.8172,85300.0,NEAR BAY
60,-122.29,37.83,52.0,1121.0,211.0,554.0,187.0,3.3929,75700.0,NEAR BAY
111,-122.25,37.82,32.0,3809.0,1098.0,1806.0,1022.0,2.6429,218500.0,NEAR BAY
159,-122.24,37.81,52.0,2093.0,550.0,918.0,483.0,2.7477,243800.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20572,-121.98,38.52,27.0,3044.0,565.0,1583.0,514.0,2.7989,126700.0,INLAND
20596,-121.57,39.16,33.0,2033.0,375.0,914.0,330.0,2.6964,68500.0,INLAND
20601,-121.57,39.13,30.0,442.0,103.0,413.0,88.0,1.5694,57900.0,INLAND
20612,-121.56,39.08,26.0,1377.0,289.0,761.0,267.0,1.4934,48300.0,INLAND
20620,-121.48,39.05,40.0,198.0,41.0,151.0,48.0,4.5625,100000.0,INLAND

In [47]:
unseen_batch = data_unseen.loc[:, ['longitude',	'latitude', 'housing_median_age','total_rooms','total_bedrooms','population',	'households',	'median_income','ocean_proximity']]
unseen_batch

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,NEAR BAY
57,-122.28,37.82,52.0,1489.0,335.0,728.0,244.0,0.8172,NEAR BAY
60,-122.29,37.83,52.0,1121.0,211.0,554.0,187.0,3.3929,NEAR BAY
111,-122.25,37.82,32.0,3809.0,1098.0,1806.0,1022.0,2.6429,NEAR BAY
159,-122.24,37.81,52.0,2093.0,550.0,918.0,483.0,2.7477,NEAR BAY
...,...,...,...,...,...,...,...,...,...
20572,-121.98,38.52,27.0,3044.0,565.0,1583.0,514.0,2.7989,INLAND
20596,-121.57,39.16,33.0,2033.0,375.0,914.0,330.0,2.6964,INLAND
20601,-121.57,39.13,30.0,442.0,103.0,413.0,88.0,1.5694,INLAND
20612,-121.56,39.08,26.0,1377.0,289.0,761.0,267.0,1.4934,INLAND
20620,-121.48,39.05,40.0,198.0,41.0,151.0,48.0,4.5625,INLAND

In [48]:
unseen_batch.shape

(1032, 9)

In [49]:
data_unseen.shape

(1032, 10)

In [ ]:
## Predicton on the Batch of unseen data

In [50]:
unseen_predictions = model_test.predict(unseen_batch)
unseen_predictions

array([337499.79965556, 127948.59622107, 180406.20164688, ...,
        70142.68269389,  83697.94919706, 151521.28281654])

In [51]:
data_unseen['y-hat'] = np.round(unseen_predictions,2)
data_unseen['y-hat']

3        337499.80
57       127948.60
60       180406.20
111      203132.83
159      197554.07
           ...
20572    104720.50
20596    105867.17
20601     70142.68
20612     83697.95
20620    151521.28
Name: y-hat, Length: 1032, dtype: float64

In [52]:
data_unseen['pct_err'] = (abs(data_unseen['median_house_value'] - data_unseen['y-hat'])) / data_unseen['median_house_value']
data_unseen

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,y-hat,pct_err
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,337499.80,0.011134
57,-122.28,37.82,52.0,1489.0,335.0,728.0,244.0,0.8172,85300.0,NEAR BAY,127948.60,0.499984
60,-122.29,37.83,52.0,1121.0,211.0,554.0,187.0,3.3929,75700.0,NEAR BAY,180406.20,1.383173
111,-122.25,37.82,32.0,3809.0,1098.0,1806.0,1022.0,2.6429,218500.0,NEAR BAY,203132.83,0.070330
159,-122.24,37.81,52.0,2093.0,550.0,918.0,483.0,2.7477,243800.0,NEAR BAY,197554.07,0.189688
...,...,...,...,...,...,...,...,...,...,...,...,...
20572,-121.98,38.52,27.0,3044.0,565.0,1583.0,514.0,2.7989,126700.0,INLAND,104720.50,0.173477
20596,-121.57,39.16,33.0,2033.0,375.0,914.0,330.0,2.6964,68500.0,INLAND,105867.17,0.545506
20601,-121.57,39.13,30.0,442.0,103.0,413.0,88.0,1.5694,57900.0,INLAND,70142.68,0.211445
20612,-121.56,39.08,26.0,1377.0,289.0,761.0,267.0,1.4934,48300.0,INLAND,83697.95,0.732877
20620,-121.48,39.05,40.0,198.0,41.0,151.0,48.0,4.5625,100000.0,INLAND,151521.28,0.515213

In [53]:
data_unseen

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,y-hat,pct_err
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,337499.80,0.011134
57,-122.28,37.82,52.0,1489.0,335.0,728.0,244.0,0.8172,85300.0,NEAR BAY,127948.60,0.499984
60,-122.29,37.83,52.0,1121.0,211.0,554.0,187.0,3.3929,75700.0,NEAR BAY,180406.20,1.383173
111,-122.25,37.82,32.0,3809.0,1098.0,1806.0,1022.0,2.6429,218500.0,NEAR BAY,203132.83,0.070330
159,-122.24,37.81,52.0,2093.0,550.0,918.0,483.0,2.7477,243800.0,NEAR BAY,197554.07,0.189688
...,...,...,...,...,...,...,...,...,...,...,...,...
20572,-121.98,38.52,27.0,3044.0,565.0,1583.0,514.0,2.7989,126700.0,INLAND,104720.50,0.173477
20596,-121.57,39.16,33.0,2033.0,375.0,914.0,330.0,2.6964,68500.0,INLAND,105867.17,0.545506
20601,-121.57,39.13,30.0,442.0,103.0,413.0,88.0,1.5694,57900.0,INLAND,70142.68,0.211445
20612,-121.56,39.08,26.0,1377.0,289.0,761.0,267.0,1.4934,48300.0,INLAND,83697.95,0.732877
20620,-121.48,39.05,40.0,198.0,41.0,151.0,48.0,4.5625,100000.0,INLAND,151521.28,0.515213

In [54]:
data_unseen = data_unseen.loc[:, ['longitude',	'latitude', 'housing_median_age','total_rooms','total_bedrooms','population',	'households',	'median_income','ocean_proximity','median_house_value']]

In [55]:
data_unseen['y-hat'] = np.round(unseen_predictions,2)
data_unseen['y-hat']

3        337499.80
57       127948.60
60       180406.20
111      203132.83
159      197554.07
           ...
20572    104720.50
20596    105867.17
20601     70142.68
20612     83697.95
20620    151521.28
Name: y-hat, Length: 1032, dtype: float64

In [56]:
data_unseen['pct_err'] = (abs(data_unseen['median_house_value'] - data_unseen['y-hat'])) / data_unseen['median_house_value']
data_unseen

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value,y-hat,pct_err
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,NEAR BAY,341300.0,337499.80,0.011134
57,-122.28,37.82,52.0,1489.0,335.0,728.0,244.0,0.8172,NEAR BAY,85300.0,127948.60,0.499984
60,-122.29,37.83,52.0,1121.0,211.0,554.0,187.0,3.3929,NEAR BAY,75700.0,180406.20,1.383173
111,-122.25,37.82,32.0,3809.0,1098.0,1806.0,1022.0,2.6429,NEAR BAY,218500.0,203132.83,0.070330
159,-122.24,37.81,52.0,2093.0,550.0,918.0,483.0,2.7477,NEAR BAY,243800.0,197554.07,0.189688
...,...,...,...,...,...,...,...,...,...,...,...,...
20572,-121.98,38.52,27.0,3044.0,565.0,1583.0,514.0,2.7989,INLAND,126700.0,104720.50,0.173477
20596,-121.57,39.16,33.0,2033.0,375.0,914.0,330.0,2.6964,INLAND,68500.0,105867.17,0.545506
20601,-121.57,39.13,30.0,442.0,103.0,413.0,88.0,1.5694,INLAND,57900.0,70142.68,0.211445
20612,-121.56,39.08,26.0,1377.0,289.0,761.0,267.0,1.4934,INLAND,48300.0,83697.95,0.732877
20620,-121.48,39.05,40.0,198.0,41.0,151.0,48.0,4.5625,INLAND,100000.0,151521.28,0.515213

In [ ]:
## checking the unseen_ourliars

In [57]:
outliars_unseen = data_unseen[data_unseen['pct_err'] > 0.15].shape
outliars_unseen

(438, 12)

In [58]:
data_unseen.shape

(1032, 12)

In [59]:
MAE = outliars_unseen[0]/ data_unseen.shape[0]
MAE

0.42441860465116277